extends layout 

block content
    h1 Schedules
    table 
        tr 
            th User ID
            th Day
            th Start at
            th End at    
        each schedule in schedules
            tr 
                td  #{schedule.user_id} 
                td #{schedule.day} 
                td #{schedule.start_at} 
                td #{schedule.end_at} 
    
    a(href="/schedules/new") Add a new schedule

        